/* CV Anne
 *
 * /sass/settings/_colors.scss - variables for colors
 *
 * coded by Anne
 * started at 3/04/2016
 */

$mainBackgroundColor: #DDDDDD;
$cvBackground: #FFFFFF;
$presentationBackground: rgba(255, 255, 255, 0.6);

$headerBackground: #4f4f4f;
$headerBottomBackground: #000;

$button: #1985BC;
$buttonHover: #236399;

$titleColor: #424648;
$headerLinks: #999;

$linkHover: #1985BC;

$skillsColor: #f0f0f0;
